.ribbons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.ribbon {
  position: absolute;
  top: -50px;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(45deg, #ff66b2, #ffcc00);
  animation: fall 7s linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
  }
}

/* Random ribbon positions */
.ribbon:nth-child(1) { left: 10%; animation-delay: 0s; }
.ribbon:nth-child(2) { left: 25%; animation-delay: 1s; }
.ribbon:nth-child(3) { left: 40%; animation-delay: 2s; }
.ribbon:nth-child(4) { left: 55%; animation-delay: 3s; }
.ribbon:nth-child(5) { left: 70%; animation-delay: 4s; }
.ribbon:nth-child(6) { left: 85%; animation-delay: 5s; }
.ribbon:nth-child(7) { left: 50%; animation-delay: 6s; }
.ribbon:nth-child(8) { left: 15%; animation-delay: 7s; }
.ribbon:nth-child(9) { left: 35%; animation-delay: 8s; }
.ribbon:nth-child(10) { left: 90%; animation-delay: 9s; }
